.guide-page .gh-21e28941:hover {
  background: #f4f3ef;
  color: #0d0d12;
}
.guide-page .gh-3a9b8b3e:hover {
  background: #0d0d12;
}
.guide-page .gh-4ed674bc:hover {
  background: #fff;
  color: #0d0d12;
}
.guide-page .gh-50caf04d:hover {
  background: #1c1c24;
}
.guide-page .gh-59b0af27:hover {
  background: #7c61ff;
  color: #fff;
}
.guide-page .gh-5ba441e6:hover {
  background: #6b4dff;
}
.guide-page .gh-840862dd:hover {
  background: #fafaf7;
}
.guide-page .gh-857f3b1c:hover {
  color: #a99bff;
}
.guide-page .gh-9b87605e:hover {
  background: #16161c;
}
.guide-page .gh-bbc019b2:hover {
  background: #1c1c22;
  color: #f4f3ef;
}
.guide-page .gh-bccdd24d:hover {
  background: #16161c;
  padding-left: 16px;
  padding-right: 16px;
  color: #f4f3ef;
}
.guide-page .gh-e6d00278:hover {
  background: #1c1c22;
}
